/* Root for CSS Variables */
:root {
  --primary-color: #000; /* Black color */
  --secondary-color: #87ceeb; /* Light blue color */
  --dark-text-color: #1b2a3c; /* Dark text color */
  --background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  --font-family-primary: Arial, Helvetica, sans-serif;
  --font-family-secondary: Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --font-size-large: 30px;
  --font-size-medium: 20px;
  --font-size-hero: 80px;
  --font-size-support: 20px;
  --line-height-hero: 1.2;
  --line-height-support: 30px;
  --border-radius: 4px;
  --transition-speed: 0.3s;
}

/* Reset CSS for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px ;

}

.hero .hero-content .hero-catchphrase {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-hero);
  line-height: var(--line-height-hero);
  color: var(--primary-color);
  margin-bottom: 0;
  margin-top: 60px;
  text-align: center;
}

/* Styling for the underlined span */
.underlined-hero {
  position: relative;
  display: inline-block;
  color: var(--secondary-color);
}

/* Underline effect using pseudo-element */
.underlined-hero::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  z-index: -1;
  height: 5px;
  background-color: var(--primary-color);
}

.hero .hero-content .hero-supportphrase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-support);
  line-height: var(--line-height-support);
  margin-bottom:40px;
  margin-top: 70px;
}

.about-us-hero {
   text-decoration: none;
   list-style-type: none;
   background-color: #ccc;
   font-weight: 600;
   color: var(--primary-color);
   padding: 20px;
   font-size: 20px;
   border-radius: 20px;
   transition:0.3s ease;
   margin-bottom: 60px;
}

.about-us-hero:hover{
  background-color: var(--secondary-color);
}

/*STYLING FOR LOGIN PAGE*/
/* Login Outer Container Styling */
.login-outer-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270deg, #ffffff, #87ceeb, #f0f8ff);
  background-size: 800% 800%;
  animation: gradientChange 10s ease infinite;
  font-family: var(--font-family-secondary);
}

/* Keyframes for background gradient animation */
@keyframes gradientChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Login Container Styling */
.login-container {
  height: 70%;
  width: 60%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.95);
  background-color: #ffffff; /* White background for the container */
  animation: fadeInScale 1s forwards;
  border: 3px solid #87ceeb; /* Sky blue border color */
}

/* Keyframes for fade-in and scale animation */
@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Login Left Section Styling */
.login-left {
  width: 50%;
  background-image: url("https://st5.depositphotos.com/67903508/65370/i/450/depositphotos_653708192-stock-photo-vertical-dramatic-shot-railway-trails.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0 0 10px;
}

.login-left-content {
  text-align: center;
  max-width: 80%;
}

.login-image {
  width: 60%;
  margin-bottom: 20px;
}

.login-left h1 {
  font-size: 2rem;
  color: #fff;
}

.login-description {
  color: #fff;
  margin-top: 10px;
}

/* Login Right Section Styling */
.login-right {
  width: 50%;
  background-color: #f0f8ff; /* Light sky blue background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  border-radius: 0 10px 10px 0;
}

.login-right h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

/* Login Form Styling */
.login-form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.login-input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Login Button Styling */
.login-button {
  padding: 10px;
  font-size: 1rem;
  background-color: #000; /* Black background for button */
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.login-button:hover {
  background-color: #333; /* Darker black for hover */
}

/* Signup Link Styling */
#loginpage-signup-link {
  text-decoration: none;
  color: #000; /* Black color for the link */
  margin-left: 3rem;
}

/*STYLING FOR SIGNP PAGE*/
/* Signup Outer Container Styling */
.signup-outercontainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270deg, #ffffff, #87ceeb, #f0f8ff);
  background-size: 800% 800%;
  animation: gradientChange 16s ease infinite;
  font-family: var(--font-family-secondary);
}

/* Keyframes for Background Gradient Animation */
@keyframes gradientChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Signup Inner Container Styling */
.signup-innercontainer {
  width: 60%;
  height: 70%;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff; /* White background */
  transform: scale(0.95);
  animation: fadeInScale 1s forwards;
  border: 3px solid #87ceeb; /* Sky blue border */
}

/* Keyframes for Fade-In and Scale Animation */
@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Signup Left Container Styling */
.signup-leftcontainer {
  width: 40%;
  background-color: #144675; /* Dark blue background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff; /* White text color */
  padding: 40px;
}

#signup-welcome-back {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}

/* Signup Right Container Styling */
.signup-rightcontainer {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#signup-createanaccount {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-align: center;
}

/* Form and Input Box Styling */
form {
  display: flex;
  flex-direction: column;
}

.signup-input-boxes {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 5px;
}

/* Signup Button Styling */
#signup_btn {
  padding: 15px;
  font-size: 1.2rem;
  background-color: #144675; /* Dark blue background */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#signup_btn:hover {
  background-color: #1250a7; /* Darker blue on hover */
}

/* Login Button Styling */
#signuppage-login-btn {
  margin-top: 1rem;
  padding: 15px;
  font-size: 1rem;
  background-color: #87ceeb; /* Sky blue background */
  color: #000; /* Black text color */
  border: 2px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#signuppage-login-btn:hover {
  background-color: #7ec0ee; /* Slightly darker sky blue on hover */
  border: 2px solid #000; /* Black border on hover */
}


.profile-picture{
  width: 50px;
  height: 50px; 
  border-radius: 50%; 
  object-fit: cover; 
  margin-right: 10px;

}